language: android
sudo: false
android:
  components:
  - build-tools-23.0.1
  - android-23
  - extra-google-google_play_services
  - extra-google-m2repository
  - extra-android-m2repository
  - addon-google_apis-google-23
git:
  submodules: false
before_install:
    - sed -i 's/git@github.com:/https:\/\/github.com\//' .gitmodules
    - git submodule update --init --recursive
script:
  - "./gradlew clean test --continue"
branches:
  only:
  - master
notifications:
  slack:
    secure: L10gaOgxp3Dv/Xwpb2GXCE0gmV1IndAnHHAlT4iUL2WZegucY7HlTXJMkKw464cNtHL/oINCyBXAODch1/2np62x3BluZDtge1qDeBXwEL1DKrmmzxXo6AaNs/DLL/Tn7wonLLnoYtQQg2V37RfK4rZeqnwn0eSzxwZyB7N8uWQ=
