<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.auth0.android.lock">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <!--Auth0 WebAuthProvider-->
        <activity
            android:name="com.auth0.android.provider.RedirectActivity"
            android:exported="true"
            tools:node="replace">
            <intent-filter android:autoVerify="true">
            <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="${auth0Domain}"
                    android:pathPrefix="/android/${applicationId}/callback"
                    android:scheme="${auth0Scheme}" />
            </intent-filter>
        </activity>
        <!--Auth0 WebAuthProvider End-->

        <!--Auth0 Lock-->
        <activity
            android:name="com.auth0.android.lock.LockActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Lock.Theme"/>
        <!--Auth0 Lock End-->

        <!--Auth0 PasswordlessLock-->
        <activity
            android:name="com.auth0.android.lock.PasswordlessLockActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Lock.Theme">
            <intent-filter android:autoVerify="true">
            <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="${auth0Domain}"
                    android:pathPrefix="/android/${applicationId}/email"
                    android:scheme="https" />

                <data
                    android:host="${auth0Domain}"
                    android:pathPrefix="/android/${applicationId}/sms"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <!--Auth0 PasswordlessLock End-->

        <!--Auth0 Lock Passwordless SMS Country Code Selection-->
        <activity
            android:name="com.auth0.android.lock.CountryCodeActivity"
            android:exported="false"
            android:theme="@style/Lock.Theme.ActionBar" />
        <!--Auth0 Lock Passwordless SMS Country Code Selection-->
    </application>

</manifest>
